

<nav class="navbar navbar-expand-sm bg-dark navbar-light">
    
    <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/first" style="color: white" class="nav-link" href="#">First</a>
        </li>
        <li class="nav-item">
          <a routerLink="/second" style="color: white" class="nav-link" href="#">Second</a>
        </li>
        <li class="nav-item">
            <a routerLink="/vrc" style="color: white" class="nav-link" href="#">ViewRc</a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard" style="color: white" class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/fo" style="color: white" class="nav-link" href="#">foutlet</a>
          </li>
 
          <!-- <a [routerLink]="[{ outlets: { primary: ['path'],sidebar: ['path'] } }]">
            Products List
        </a> -->
        </ul>
  </nav>
  